/* src/components/CaravanaCard/CaravanaCard.module.css */

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajuste conforme necessário */
}

.cardImageContainer {
    height: 200px; /* Ajuste conforme necessário */
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Importante para dimensionar a imagem corretamente */
}

.cardContent {
    padding-top: 16px;
}

.cardTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.cardText {
    font-size: 1em;
    margin-bottom: 4px;
}
.verDetalhes {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

  .verDetalhes:hover { /* Adiciona um efeito hover */
    background-color: #0056b3;
}

.caravanaInativa{
    opacity: 0.6; 
  }
  